[submodule "vim/vim.symlink/pack/default/start/fzf.vim"]
	path = vim/vim.symlink/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/vim.symlink/pack/default/start/fzf"]
	path = vim/vim.symlink/pack/default/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/vim.symlink/pack/default/start/vim-polyglot"]
	path = vim/vim.symlink/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/vim.symlink/pack/default/start/vim-slime-syntax"]
	path = vim/vim.symlink/pack/default/start/vim-slime-syntax
	url = https://github.com/slime-lang/vim-slime-syntax
[submodule "vim/vim.symlink/pack/default/start/vim-surround"]
	path = vim/vim.symlink/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "prezto/.zprezto.symlink"]
	path = prezto/zprezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/vim.symlink/pack/default/start/ack.vim"]
	path = vim/vim.symlink/pack/default/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/pack/default/start/vim-airline"]
	path = vim/vim.symlink/pack/default/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/vim.symlink/pack/default/start/nerdtree"]
	path = vim/vim.symlink/pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/pack/default/start/nerdtree-git-plugin"]
	path = vim/vim.symlink/pack/default/start/nerdtree-git-plugin
	url = https://github.com/scrooloose/nerdtree-git-plugin.git
[submodule "vim/vim.symlink/pack/default/start/vim-colorschemes"]
	path = vim/vim.symlink/pack/default/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/vim.symlink/pack/default/start/vim-visual-multi"]
	path = vim/vim.symlink/pack/default/start/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
